<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.talkie_kids.talkie"
    android:versionCode="8"
    android:versionName="1.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" /> 
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
    
	    <!-- Used for install referral measurement-->
		<service android:name="com.google.analytics.tracking.android.CampaignTrackingService"/>
		<receiver android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver" android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
		
        <activity
            android:name="co.talkie_kids.talkie.Activities.LevelActivity"
        	android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="co.talkie_kids.talkie.Activities.LevelChooseActivity"
        	android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="co.talkie_kids.talkie.Activities.AnimationActivity"
        	android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="co.talkie_kids.talkie.Activities.CategoryChooseActivity"
        	android:screenOrientation="landscape"
            android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="co.talkie_kids.talkie.Activities.SplashScreenActivity"
        	android:screenOrientation="landscape"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    
</manifest>